.input{
    display: block;
    margin-bottom: 10px;
    color: grey;
    width: 100%;
}

.input > label{
    font-size: .9em;
    display: block;
    margin-bottom: 3px;
}

.input > input[type="text"]{
    padding: .7em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    background: white;
    color: rgb(109, 107, 107);
    border-color: darkgray;
    margin-bottom: 3px;
}
.input > .readonly{
    padding: .7em;
    cursor: text;
    width: 100%;
    color: rgb(109, 107, 107);
    border: none;
    margin-bottom: 3px;
}

.input.readonly > label::after{
    content: " (readonly)";
    color: brown;
    font-size: .7em;
}

.input > input[type="text"]:focus, .input > select:focus{
    outline:none;
}

.input > select{
    padding: .7em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    background: white;
    color: rgb(109, 107, 107);
    border-color: darkgray;
}

.btn{
    border: none;
    padding: 1em;
    border-radius: 4px;
    margin: 3px 0;
}

.btn.green{
    color: white;
    background: rgb(29, 173, 29);
    clear: both;
}

.btn.blue{
    color: white;
    background: rgb(9, 165, 238);
    clear: both;
}

.right{
    float: right;
}

.small{
    padding: .5em 1em;
}

.fluid{
    width: 100%;
}
.header{
    text-align: center;
}

.footer{
    padding: .5em;
    font-size: .7em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 10, 17);
    color: white;
    text-align: center;
}

.footer::after{
    content: " - Trademark by Beehive.id 2018"
}

form.center{
    padding: 0 33% 1.5em;
}

span.blue{
    color: rgb(9, 165, 238);
    font-weight: bold;
}
