<div class="page">
  <div class="header grid">
    <div class="icon red">OMS</div>
    <div class="title">
      <div class="white">Outletter</div>
      <div class="white">Management</div>
      <div class="white">System</div>
    </div>
  </div>

<div class="center">
  <form #outletterForm = "ngForm">
    <div class="input">
      <label>Tgl <span class="blue">6 Maret 2018</span></label>
    </div>
    <div class="input">
        <label>Pengirim</label>
        <input type="text" [(ngModel)]="sender" name="sender">
      </div>
    <div class="input">
      <label>Perihal</label>
      <input type="text" [(ngModel)]="perihal" name="perihal">
    </div>
    <div class="input">
      <label>Department</label>
      <select [(ngModel)]="selectedDept" name="department" (change)="getNumber()">
        <option *ngFor="let dep of department" [value]="dep">{{ dep | uppercase }}</option>
      </select>
    </div>
    <div class="input">
      <label>Penerima</label>
      <input type="text" [(ngModel)]="receiver" name="receiver">
    </div>
    <div class="input readonly">
      <label>Nomor Surat</label>
      <input type="text" class="readonly" name="outnumber" [(ngModel)]="generatedNumber" readonly >
      <button class="btn green right small" (click)="getNumber()">Verify</button>
    </div>
    <div class="input">
        <button class="btn blue fluid">Submit</button>
    </div>
  </form>
</div>
<div class="footer">Lina</div>
</div>
