<div class="page">
  <div class="header"><h1>Outletter Management System</h1></div>
<form class="center">
  <div class="input">
    <label>Tgl <span class="blue">6 Maret 2018</span></label>
  </div>
  <div class="input">
    <label>Pengirim</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Perihal</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Department</label>
    <select>
      <option>HR</option>
      <option>Sales</option>
      <option>IT</option>
    </select>
  </div>
  <div class="input">
    <label>Penerima</label>
    <input type="text">
  </div>
  <div class="input readonly">
    <label>Nomor Surat</label>
    <input type="text" class="readonly" readonly value="">
    <button class="btn green right small">Req.</button>
  </div>
  <div class="input">
      <button class="btn blue fluid">Submit</button>
  </div>
</form>

<div class="footer">Lina</div>
</div>
