/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
}

body,html{
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background: #F2F2F2;
}

a,button {
    cursor: pointer;
}

a{
    text-decoration: none;
}